/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */

@font-face {
    font-family: 'italiannoregular';
    src: url('../fonts/italianno-regular-otf-webfont.eot');
    src: url('../fonts/italianno-regular-otf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/italianno-regular-otf-webfont.woff') format('woff'),
         url('../fonts/italianno-regular-otf-webfont.ttf') format('truetype'),
         url('../fonts/italianno-regular-otf-webfont.svg#italiannoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}   


body {
	background-image: url(../images/background.jpg);
	font-family: Helvetica, Arial, sans-serif;
}


h1 {
	font-family: italiannoregular, Brush Script MT, cursive;
	color: #d94814;
	font-size: 3em;
	text-shadow: 1px 1px 2px rgba(0,0,0,2);
	
}

h2 {
	color: #d94814;
	text-shadow: 1px 1px 2px rgba(0,0,0,2);
}

h3 {
	color: #d94814;
	text-shadow: 1px 1px 2px rgba(0,0,0,2);
}

nav {
	text-align: center;
}

nav li {
	display: inline;
	font-family: italiannoregular, Brush Script MT, cursive;
	font-size: 3em; /* font size 48px */
	margin: .2em .5em;
	text-shadow: 1px 1px 2px rgba(0,0,0,2);
}

nav li a:link {
	color: #d94814;
	text-decoration: none;
}

nav li a:visited {
	text-decoration: none;
	color:  #d94814;
}

nav li a:hover {
	color: #1b5911;
}


footer {
	display: block;
	text-align: center;
	background-color: #a60303;
	color: #000;
	Margin-top: 4em;
		
}

#footer_nav li {
	font-size: 1.5em;
}

.button {
	margin: .4em 0;	
}
/* =============================================================================
   Page Styles
   ========================================================================== */
#slide {
	background-image: url(../images/background2.jpg);	
}

#slide img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer_nav li a:link {
	color: #f2eddc;
}


#footer_nav li a:visited {
	color: #bfaa84;
}

#footer_nav li a:hover {
    color: #1b5911;  
}

#footer_nav li a:active {
    color: #fff;
}

.center {
	margin: 0 auto;
	text-align: center;
}
td {
	margin-right: .25em;
}
/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/