body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

body {
	background-color: rgba(0,204,204,1);
	max-width: 980px;
	margin: 0 auto;
}

h1 {
	font-size: 24px;
	color: rgba(255,153,0,1);
}
h2 {
	font-size: 18px;
}

.container {
	background-color: rgba(255,255,255,1);
	padding: 20 px;
}

